{% extends "blog/base.html" %}
{% load static %}
{% block title %}Boletos{% endblock %}
{% block content %}
<BR>
<div align="center">
  <img src="{% static "blog/img/BOLETOS.png" %}" width="300">
</div>
<BR>        
<div class="divtexto">
  NÃO DEIXE BOLETOS EM ABERTO, ISSO PODE IMPACTAR NA SUA VIDA FINANCEIRA E ACADEMICA, IMPEDINDO O ACESSO AO AVA, LISTA DE PRESENÇA ENTRE OUTROS PROBLEMAS.
</div>


<!-- inicio laço -->
{% for bol in boleto %}
<BR>
<table class="tabledados">
  <tr>
    <td class="beck bb" colspan="3"><B>INFORMAÇÃO</B></td>
  </tr>
   
    <tr>
      <td class="tamanho"><b>BOLETO</b></td>
      <!-- <td class="">-</td> -->
      <td class="">{{bol.boleto}}</td>
    </tr>
    <tr>
      <td class="bc bb tamanho"><b>DATA</b></td>
      <!-- <td class="bc bb">-</td> -->
      <td class="bc bb">{{bol.data}}</td>
    </tr>
    <tr>
      <td class="tamanho"><b>STATUS</b></td>
      <!-- <td class="">-</td> -->
      <td class="">{{bol.status}}</td>
    </tr>
  
</table>
{% endfor %}
<!-- fim laço -->


{% endblock %}