{% extends "blog/base.html" %}
{% load static %}
{% block title %}Canal Conecta{% endblock %}
{% block content %}

<BR>
<div align="center">
  <img src="{% static "blog/img/CONECTA.png" %}" width="300">
</div>
<BR>        
<div class="divtexto">
    INFORMAÇÕES SOBRE O CANAL CONECTA.
</div>
<div class="divtexto">
    ACESSE O CANAL CONECTA E PROCURE MAIS INFORMAÇÕES SOBRE AS VAGAS DISPONÍVEIS.<BR><br>
    <a href="https://www.canalconecta.com.br/index?t=1"><button class="button" type="button">CANAL CONECTA</button></a>
</div>
    
<!-- inicio laço -->
{% for con in conecta %}
<BR>
<table class="tabledados">
  <tr>
      <td class="beck bb" colspan="3"><B>INFORMAÇÃO</B></td>
  </tr>
  <tr>
      <td class="tamanho"><b>VAGA</b></td>
    <!-- <td class="">-</td> -->
    <td class="">{{con.con_vaga}}</td>
  </tr>
  <tr>
      <td class="bc tamanho"><b>ID</b></td>
    <!-- <td class="bc">-</td> -->
    <td class="bc">{{con.con_id}}</td>
  </tr>
</table>
{% endfor %}
<!-- fim laço -->


{% endblock %}