{% extends "blog/base.html" %}
{% load static %}
{% block title %}Convênios{% endblock %}
{% block content %}

<head>
  <style>
    #tdstyle{
      text-align: center;
      padding: 0 5px 0 10px;
      /* background-color: cadetblue; */
      width: 10px;

    }

     #tdstyle2{
      text-align: left;
      padding: 0 1px 0 1px;
      /* background-color: red; */
      width: auto;

    }
    #tdstyle3{
      text-align: center;
      padding: 0 1px 0 1px;
      /* background-color: yellow; */
      width: auto;
    
    }
  </style>
</head>

<BR>
<div align="center">
  <img src="{% static "blog/img/PROVAS.png" %}" width="300">
</div>
<BR>
        
<div class="divtexto"><b>
    INFORMAÇÕES SOBRE DATAS DE PROVAS. 
</b>  
</div>
<div class="descricao">
  <p>* B1 - Provas de Primeiro Bimestre</p>
  <p>* B2 - Provas de Segundo Bimestre</p>
</div>
<br>

<!-- inicio laço -->
{% for prova in provas %}
  <!-- <br> -->
  <table class="tabledados">    
      <tr>
        <td id="title_table" class="bb" colspan="4"><B>{{ prova.pro_disciplina }}</B></td>
      </tr>
      <tr>
        <td id="tdstyle" class=" bb"><b>DATA </b></td>
        <td id="tdstyle2" class=" bb">{{ prova.pro_data }}</td>

        <td id="tdstyle" class=" bb"><b>SÉRIE</b></td>
        <td id="tdstyle2" class=" bb">{{ prova.pro_serie }}</td>
      </tr>
      <tr>
        <td id="tdstyle" class="tamanho bb"><b>PROFESSOR</b></td>
        <td id="tdstyle3" colspan="3" class="bb">{{ prova.pro_professor }}</td>
      </tr>
      <tr>
          <td id="tdstyle" class="tamanho"><b>MODELO</b></td>
        <td id="tdstyle3" colspan="3" class="">{{ prova.pro_avaliacao}}</td>
      </tr>
  </table>
{% endfor %}
<!-- fim laço -->

{% endblock %}