{% extends "blog/base.html" %}
{% load static %}
{% block title %}Convênios{% endblock %}
{% block content %}

<BR>
<div align="center">
  <img src="{% static "blog/img/convenios.jpg" %}" width="300">
</div>
<BR>        
<div class="divtexto">
        INFORMAÇÕES SOBRE CONVÊNIOS E PARCERIAS.
</div>

  
<!-- inicio laço -->
{% for conv in convenio %}
<BR>
<table class="tabledados">
  <tr>
      <td class="beck bb" colspan="3"><B>INFORMAÇÃO</B></td>
  </tr>
  <tr>
      <td class="tamanho"><b>{{conv.conv_title}}</b></td>
    <td class="">-</td>
      <td class="">{{ conv.conv_info}}</td>
  </tr>
</table>
{% endfor %}
<!-- fim laço -->



    {% endblock %}