{% extends "blog/base.html" %}
{% load static %}
{% block title %}Meu Curso{% endblock %}
{% block content %}

<BR>
<div align="center">
  <img src="{% static "blog/img/CURSO.png" %}" width="300">
</div>
<BR>        
<div class="divtexto">
    AQUI VOCÊ ENCONTRA AS INFORMAÇÕES INPORTANTES DO SEU CURSO E PRINCIPALMENTE OS CONTATOS DO SEU COORDENADOR E DE SEUS PROFESSORES.
</div>
<BR>

<table class="tabledados">
  <tr>
      <td class="beck bb" colspan="3"><B>INFORMAÇÕES</B></td>
  </tr>
  <tr>
      <td class="tamanho"><b>CURSO</b></td>
    <!-- <td class="">-</td> -->
    <td class="bb">{{ aluno.alu_curso }}</td>
  </tr>
  <tr>
      <td class="tamanho"><b>STATUS</b></td>
    <!-- <td class="bc bb">-</td> -->
    <td class="">{{ aluno.alu_status }}</td>
  </tr> 
</table>

<table class="tabledados">
    <tr>
        <td class="beck bb" colspan="3"><B>COORDENADOR</B></td>
    </tr>
  <tr>
      <td><img src="https://img.icons8.com/material-rounded/50/333333/user.png" width="22"></td>
  <!-- <td class="bb">-</td> -->
  <td class="bb">{{coord.cur_nome_coor}}</td>
</tr>
 <tr>
    <td><img src="https://img.icons8.com/metro/50/333333/new-post.png" width="20"></td>
  <!-- <td class="">-</td> -->
  <td class="">{{coord.cur_cont_coor}}</td>
</tr>
</table>

<br>
     
<!-- inicio laço -->
  {%for prof in curso %}
    <table class="tabledados">
        <tr>
          <td class="beck bb" colspan="3"><B>PROFESSOR</B></td>
      </tr>
        <tr>
          <td><img src="https://img.icons8.com/material-rounded/50/333333/user.png" width="22"></td>
          <!-- <td class="tamanho bb"><b>PROFESSOR</b></td> -->
          <td class="bb">{{prof.cur_prof}}</td>
        </tr>

        <tr>
            <td><img src="https://img.icons8.com/metro/50/333333/new-post.png" width="20"></td>
          <td class="">{{prof.cur_contato}}</td>
        </tr>

    </table>
    {% endfor %}
<!-- fim laço -->




  {% endblock %}