{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link  rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <meta charset="UTF-8">
        <title>APP FAT</title>
        <!--<a href="https://icons8.com">Icon pack by Icons8</a>-->
    </head>

    <body class="fundo" style="background-image: url('{% static "blog/img/fundo.jpg"%}')";>

    {% if user.is_authenticated %}
        <a class=logout href="{% url 'logout' %}" class="top-menu"><img src="https://png.icons8.com/metro/50/333333/exit.png" width="26" >
            <div class=logout text-align=center >
                <p>Sair</p>
            </div>                      
            
        </a>
        <div class="settings">
            {% if user.username == "38019987894" or user.username == "dennyerikson" or user.username == "admin" %}
            <a href="/admin/login/?next=/admin"><img src="https://png.icons8.com/ios/50/666666/settings-filled.png" width="26"></a></h1>
            {% endif %}
        </div>   
    {% endif %}   
    
    {% for im in info_modal %} 
    <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- inserindo modal 27/07/2018 -->
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Informações Importantes</h4>
                </div>

                <div class="modal-body">
         
                <table class="tabelamodal">
                    <!-- get titulos textos modal -->
                        {% for stt in status %}
                            {% ifequal stt.status_ajuste "1" %}
                            <tr>
                                <td class="bb">
                                    <b>{{im.title1}}</b>
                                </td>
                                <td class="bb">
                                    {{im.text1}}
                                </td>
                            </tr>

                            {% endifequal %}
                        
                        {% endfor %}

                        {% for stt in status %}
                            {% ifequal stt.status_boleto "1" %}
                            <tr>
                                <td class="bb">
                                    <b>{{im.title2}}</b>
                                </td>
                                <td class="bb">
                                        {{im.text2}}
                                </td>
                            </tr>
                            {% endifequal %}
                        {% endfor %}

                        {% for stt in status %}
                            {% ifequal stt.status_card "1" %}
                            <tr>
                                <td class="bb">
                                    <b>{{im.title3}}</b>
                                </td>
                                <td class="bb">
                                        {{im.text3}}
                                </td>
                            </tr>
                            {% endifequal %}
                        {% endfor %}

                        {% for stt in status %}
                            {% ifequal stt.status_rematricula "1" %}
                            <tr>
                                <td class="bb">
                                    <b>{{im.title4}}</b>
                                </td>
                                <td class="bb">
                                        {{im.text4}}
                                </td>
                            </tr>
                            {% endifequal %}
                        {% endfor %}

                        {% for stt in status %}
                            {% ifequal stt.status_bolsa "1" %}
                            <tr>
                                <td class="bb">
                                    <b>{{im.title5}}</b>
                                </td>
                                <td class="bb">
                                        {{im.text5}}
                                </td>
                            </tr>
                            {% endifequal %}
                        {% endfor %}

                        {% for stt in status %}
                            {% ifequal stt.status_bolsa "1" %}
                            <tr>
                                <td class="bb">
                                    <b>{{im.title6}}</b>
                                </td>
                                <td class="bb">
                                        {{im.text6}}
                                </td>
                            </tr>
                            {% endifequal %}
                        {% endfor %}    

                        <!-- {% for stt in status %} -->
                            {% if conecta > 0  %}
                            <tr>
                                <td class="">
                                    <b>{{im.title7}}</b>
                                </td>
                                <td class="">
                                        {{im.text7}}
                                </td>
                            </tr>
                            {% endif %}
                        <!-- {% endfor %}   -->
                        
                        {% for stt in status %}
                            {% ifequal stt.status_status "1" %}
                            <tr>
                                <td class="">
                                    <b>{{im.title8}}</b>
                                </td>
                                <td class="">
                                        {{im.text8}}
                                </td>
                            </tr>
                            {% endifequal %}
                        {% endfor %} 
                        
                        {% ifequal sats.sats_check "1" %}
                            <tr>
                                <td class="">
                                    <b>{{im.title9}}</b>
                                </td>
                                <td class="">
                                        {{im.text9}}
                                </td>
                            </tr>
                        {% endifequal %}
                    

                </table>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnopen" class="button" data-dismiss="modal">Close</button>
                    <!-- <button type="button" id="btnim" class="button" data-dismiss="modal">Close</button> -->
                </div>
            </div>

            </div>
        </div>

        <!-- Modal 2 -->
        <div id="myModal2" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- inserindo modal 27/07/2018 -->
                    <div class="modal-content">                        
                            <div class="modal-header">
                            
                            <h4 class="modal-title">{{im.title10}}</h4>
                            
                            </div>
                            <div class="modal-body">
                            <table align="center" class="tabelamodal">
                                    <tr>
                                        <td colspan="2">
                                           
                                            <h5><b>{{im.text10}}</b></h5>
                                            
                                        </td>
                                    </tr>
                            </table>
                        
                            <table align="center">
                                    <!-- <tr>
                                       <td>&nbsp;<b>00</b></td>
                                       <td>&nbsp;<b>01</b></td>
                                       <td>&nbsp;<b>02</b></td>
                                       <td>&nbsp;<b>03</b></td>
                                       <td>&nbsp;<b>04</b></td>
                                       <td>&nbsp;<b>05</b></td>
                                       <td>&nbsp;<b>06</b></td>
                                       <td>&nbsp;<b>07</b></td>
                                       <td>&nbsp;<b>08</b></td>
                                       <td>&nbsp;<b>09</b></td>
                                       <td>&nbsp;<b>10</b></td>
                                    </tr> -->
                                    <tr>   
                                        
                                        <form method="POST" class="post-form">
                                            {% csrf_token %}
                                            {{ radio_form.as_p }}
                                            <button id="btnim" type="submit" class="button">Enviar</button>
                                        </form>                                

                                        <!-- <td><button style="width:20px" type="button" id="close0" value="0" data-dismiss="modal">&nbsp;</button>&nbsp;&nbsp;</td>                                        
                                        <td><button style="width:20px" type="button" id="close1" value="1" data-dismiss="modal">&nbsp;</button>&nbsp;&nbsp;</td>
                                        <td><button style="width:20px" type="button" id="close2" value="2" data-dismiss="modal">&nbsp;</button>&nbsp;&nbsp;</td>
                                        <td><button style="width:20px" type="button" id="close3" value="3" data-dismiss="modal">&nbsp;</button>&nbsp;&nbsp;</td>
                                        <td><button style="width:20px" type="button" id="close4" value="4" data-dismiss="modal">&nbsp;</button>&nbsp;&nbsp;</td>
                                        <td><button style="width:20px" type="button" id="close5" value="5" data-dismiss="modal">&nbsp;</button>&nbsp;&nbsp;</td>
                                        <td><button style="width:20px" type="button" id="close6" value="6" data-dismiss="modal">&nbsp;</button>&nbsp;&nbsp;</td>
                                        <td><button style="width:20px" type="button" id="close7" value="7" data-dismiss="modal">&nbsp;</button>&nbsp;&nbsp;</td>
                                        <td><button style="width:20px" type="button" id="close8" value="8" data-dismiss="modal">&nbsp;</button>&nbsp;&nbsp;</td>
                                        <td><button style="width:20px" type="button" id="close9" value="9" data-dismiss="modal">&nbsp;</button>&nbsp;&nbsp;</td>
                                        <td><button style="width:20px" type="button" id="close10" value="10" data-dismiss="modal">&nbsp;</button></td> -->
                                    </tr>
                            </table>
                        </div>
                    
                    </div>
                </div>
            </div>
            
        <!-- Modal 3 -->
        <div id="myModal3" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- inserindo modal 27/07/2018 -->
                    <div class="modal-content">
                        <div class="modal-body">
                            <table class="tabelamodal">
                                <tr><td>&nbsp;</td></tr>
                                <tr>
                                    <td>
                                        <!-- <b>{{ valor_rb }}</b> -->
                                        <b>OBRIGADO PELA SUA OPINIÃO!</b>
                                    </td>
                                </tr>
                                <tr><td>&nbsp;</td></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %} 

            {% for value in status %}
                {% if value.status_status == "1" or value.status_bolsa == "1" or value.status_ajuste == "1" or value.status_card == "1" or value.status_rematricula == "1" or value.status_boleto == "1" or sats.sats_check == "1" or conecta > 0%}
                    <!-- script para carregar modal ao iniciar a pagina 27/07/2018 -->
                    <script>
                        $(document).ready(function(){
                            $('#myModal').modal('show');
                        });


                    </script>
                    <!-- verificação de pesquisa 24/08/2018 -->
                        <!-- {{sats.sats_cpf}} get um unico ibjeto do sats -->
                    {% ifequal sats.sats_check "1"%}
                    <script>
                            $("#btnopen").on('click', function () {
                                $('#myModal2').modal('show');
                            });

                            // $("#close0, #close1, #close2, #close3, #close4, #close5, #close6, #close7, #close8, #close9, #close10").on('click', function () {
                            $("#btn_close").on('click', function () {
                                $('#myModal3').modal('show');
                                setTimeout(function(){
                                    $('#myModal3').modal('hide');
                                }, 2000);
                            });
                    </script>
                    {% endifequal %}

                {% endif %}

            {% endfor %}

        <script type="text/javascript">
        
        function isChecked(){
            var checkedYes = document.getElementById('like').checked;
            var checkedNo = document.getElementById('dislike').checked;    
            
            if(checkedYes == false && checkedNo == false){
                alert('You need to select an option!');
                return false;
            }
            else{                
                return true;
            }
        }
        </script>      
       

        
      

<br><br><br><br><br><br><br>

 
{% for alunos in aluno %}
    <h1 class="textcenter"><b>Olá, {{ alunos.alu_nome }}</b></h1>
    <!-- <h1 class="textcenter"><b>{{ sats.sats_check }} | {{ sats.sats_quest_01 }} | {{ request.user }}</b></h1> -->
{% endfor %}
 

<!-- {% for stt in status %}
    
    {% ifequal stt.status_ajuste "0" %}
        <h1 class="textcenter"><b>{{ stt.status_ajuste }}</b></h1>
    {% endifequal  %}

    <h1 class="textcenter"><b>{{ stt.status_bolsa }}</b></h1>
    <h1 class="textcenter"><b>{{ stt.status_card }}</b></h1>
    <h1 class="textcenter"><b>{{ stt.status_rematricula }}</b></h1>
    <h1 class="textcenter"><b>{{ stt.status_boleto }}</b></h1>
{% endfor %} -->

<br>

<table class="tabela textomenu">
        <tr>
            <td class="tdtext tdcolor1">
                <a href="{% url 'boleto' %}"><b>BOLETOS</b></a>
            </td>
        </tr>
        <tr height="7"></tr>
         <tr>
            <td class="tdtext tdcolor2">
                <a href="/curso"> <b>MEU CURSO</b></a>
            </td>
        </tr>
         <tr height="7"></tr>
        <tr>
            <td class="tdtext tdcolor3">
                <a href="/sala"> <b>SALA ESPECIAL</b></a>
            </td>
        </tr>
         <tr height="7"></tr>
        <tr>
            <td class="tdtext tdcolor4">
                <a href="/conecta"><b>CANAL CONECTA</b></a>
            </td>
        </tr>
        <tr height="7"></tr>
        <tr>
            <td class="tdtext tdcolor6">
                <a href="/convenio"><b>CONVÊNIOS</b></a>
            </td>
        </tr>
        <tr height="7"></tr>
        <tr>
            <td class="tdtext tdcolor5">
                <a href="/info"><b>INFORMAÇÕES</b></a>
            </td>
        </tr>
        <tr height="7"></tr>
        <tr>
            <td class="tdtext tdcolor7">
                <a href="/tutoriais"><b>TUTORIAIS</b></a>
            </td>
        </tr>
    </table>

<!-- <table class="tabela textomenu">
    <tr>
        <td class="tdtext"> -->
            <!-- <a href="{% url 'boleto' %}"><b>BOLETOS</b></a> -->
            <!-- <button class="btntable tdcolor1"><b>BOLETOS</b><a href="{% url 'boleto' %}"></a></a></button>
        </td>
    </tr>   
</table> -->

<br>

<table class="tabela textomenu2">

    <tr>
        <td class="">
            <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5512981901892"><img src="https://png.icons8.com/color/100/ecf0f1/whatsapp.png "width="30" ><br><b>Rematrícula</b></a>
        </td>
        <td class="">
            <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5512981901892"><img src="https://png.icons8.com/color/100/ecf0f1/whatsapp.png "width="30" ><br><b>Secretaria</b></a>
        </td>
    </tr>

</table>

<!-- <br>
<table class="tabela textomenu2">
    <tr><td><b>Reclamações ou Sugestões:<br>fatouvidoria@anhanguera.com</b></td></tr>
</table> -->

    </body>
</html>
