{% extends "blog/base.html" %}
{% load static %}
{% block title %}Informações{% endblock %}
{% block content %}

<BR>
<div align="center">
  <img src="{% static "blog/img/informacoes.jpg" %}" width="300">
</div>
<BR>        
<div class="divtexto">
        INFORMAÇÕES EM GERAL.
</div>


<!-- inicio laço -->
<BR>
<table class="tabledados">
  <tr>
    <td class="beck bb" colspan="3"><B>INFORMAÇÃO</B></td>
  </tr>
  <tr><!-- get informações -->
      {% for infos in info %}
        <td class="tamanho"><b>{{ infos.info_title }}</b></td>
        <td class="">-</td>
        <td class="">{{ infos.info_informacao }}</td>
      {% endfor %}
  </tr>
 </table>
<!-- fim laço -->


    {% endblock %}