{% extends "blog/base.html" %}
{% load static %}
{% block title %}Sala Especial{% endblock %}
{% block content %}

<BR>
<div align="center">
    <img src="{% static "blog/img/salaespecial.jpg" %}" width="300">
    </div>
    <BR>        
    <div class="divtexto">
        INFORMAÇÕES SOBRE SALA ESPECIAL. 
    </div>


<!-- inicio laço -->
<BR>
  <table class="tabledados">
  <tr>
    <td class="beck bb" colspan="3"><B>REQUERIMENTO</B></td>
  </tr>
  <tr>
    <td class="tamanho"><b>DISCIPLINA</b></td>
    <td class="">-</td>
    <td class="">VARIAVEL</td>
  </tr>
  <tr>
    <td class="bc bb tamanho"><b>DATA</b></td>
    <td class="bc bb">-</td>
    <td class="bc bb">VARIAVEL</td>
  </tr>
  <tr>
    <td class="tamanho"><b>SALA</b></td>
    <td class="">-</td>
    <td class="">VARIAVEL</td>
  </tr>
</table>
<!-- fim laço -->


    {% endblock %}

