{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    
    <head>
        <!--font -->
        <link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>


        <!--BOOTSTRAP-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

        <title>AppFat</title>

        {% if user.is_authenticated %}
        <!-- <a href="https://icons8.com">Icon pack by Icons8</a> -->
        <p class="top-menu"><small><a href="{% url 'logout' %}">Sair</a></small></p>

        {% endif %}


    </head>
    <body>
    
        {% block content %} <!-- base para outras views-->

        {% endblock %}

    </body>
</html>