{% extends "base.html" %}
{% load staticfiles %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% block content %}
    <!-- {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %} -->

    <!-- <div class="login-page">
            <div class="form">
              
                    <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                                <table>
                                    <tr>
                                       <p> <td>{{ form.username.label_tag }}</td></p>
                                        <td>{{ form.username }}</td>
                                    </tr>

                                    <tr>    
                                        <td><dir>
                                            
                                        </dir></td>                                                                 
                                    </tr>

                                    <tr>
                                        <td>{{ form.password.label_tag }}</td>
                                        <td>{{ form.password }}</td>
                                    </tr>
                                </table>
                        
                                <input type="submit" value="login" />
                                <input type="hidden" name="next" value="{{ next }}" />
                            </form>
              
            </div>
     </div> -->

        <!-- html 5 -->

        <div class="login-page">
                <div class="form">                  
                    <form class="pure-form pure-form-aligned" method="POST">
                            <h2> Informe seu CPF para acessar </h2>
                            {% csrf_token %}
                            <fieldset>
                                {{ form.non_field_errors }}
                                
                                {% for field in form %}
                                    <div class="pure-control-group">
                                        {{ field.label_tag}}
                                        {{field}}
                                        {{field.errors}}
                                    </div>
                                {% endfor %}

                                <div class="pure-controls">
                                    <button type="submit" class="pure-button pure-button-primary">Entrar</button>
                                </div>

                            </fieldset>
                            <br>
                            <p>
                                Não é cadastrado? <a href="/appfat/blog//templates/registration/cadastro.html" title="">Cadastre-se</a> <br />
                                Esqueceu a senha? <a href="" title="">Nova senha</a> <br />
                            </p>
                       
                            </div>
                        </div>


                    
                        <p class="message">Not registered? <a href="#">Create an account</a></p>
                </form>
            </div>
        </div>
        <script>
          $('.message a').click(function(){
                $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
             });
        </script>




{% endblock %}